# vscode
.vscode

# Visual Studio
.vs
**/CMakeSettings.json

# CLion
.idea
**/cmake-build*


# Conan
tmp

# Python
venv/**

# CMake
**/build*/**
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# SonarQube
.scannerwork